html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*div {
  border: solid 1px red;
}*/

.dark {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  min-height: 700px;
  height: 100vh;
  background-color: black;
}

.dark__bg {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  min-height: 700px;
  height: 100vh;
  background: url("../img/bg.jpg") no-repeat center center;
  background-size: cover;
  opacity: 0.5;
}

.flex__content {
  position: relative;
}

.bg__block {
  position: relative;
}

h1 {
  font-family: Arial;
  font-size: 60px;
  font-weight: 400;
  color: white;
  text-shadow: 1px 1px 1px rgba(0,0,0,.54);
}

.block__title {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.title__loc {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 20px;
  min-height: 60px;
  background-color: black;
  opacity: 0.8;
  cursor: pointer;
}

.loc__img {
  margin-left: 15px;
}

.loc__city {
  margin-left: 20px;
  margin-right: 20px;
}

.city__change {
  font-family: Arial;
  font-size: 18px;
  color: #ffd333;
}

.block__weather {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 10px;
}

.weather__now {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}

.now__img_0, .now__img_1, .now__img_2, .now__img_3, .now__img_4, .now__img_37, .now__img_38, .now__img_39{
  margin-left: 30px;
  width: 130px;
  height: 130px;
  background: url("../img/1.png") no-repeat center center;
  background-size: cover;
}

.now__img_11, .now__img_12, .now__img_35, .now__img_45, .now__img_47{
  margin-left: 30px;
  width: 140px;
  height: 130px;
  background: url("../img/2.png") no-repeat center center;
  background-size: cover;
}

.now__img_29, .now__img_30, .now__img_40, .now__img_44{
  margin-left: 30px;
  width: 130px;
  height: 130px;
  background: url("../img/3.png") no-repeat center center;
  background-size: cover;
}

.now__img_31, .now__img_32, .now__img_33, .now__img_34, .now__img_36{
  margin-left: 30px;
  width: 130px;
  height: 130px;
  background: url("../img/4.png") no-repeat center center;
  background-size: cover;
}

.now__img_9, .now__img_19, .now__img_20, .now__img_21, .now__img_22, .now__img_23, .now__img_24, .now__img_25, .now__img_26, .now__img_27, .now__img_28{
  margin-left: 30px;
  width: 130px;
  height: 92px;
  background: url("../img/5.png") no-repeat center center;
  background-size: cover;
}

.now__img_5, .now__img_6, .now__img_7, .now__img_8, .now__img_10, .now__img_13, .now__img_14, .now__img_15, .now__img_16, .now__img_17, .now__img_18, .now__img_41, .now__img_42, .now__img_43, .now__img_46{
  margin-left: 30px;
  width: 140px;
  height: 130px;
  background: url("../img/6.png") no-repeat center center;
  background-size: cover;
}

.now__dscr {
  margin-left: 15px;
  font-family: Arial;
  font-size: 26px;
  color: white;
  text-shadow: 1px 1px 1px rgba(0,0,0,.54);
}

.weather__num {
  margin-left: 15px;
  font-family: Arial;
  font-size: 70px;
  color: white;
  text-shadow: 1px 1px 1px rgba(0,0,0,.54);
}

.num__un {
  font-size: 40px;
}

.weather__minmax {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 30px;
}

.minmax__arrow_up {
  width: 10px;
  height: 10px;
  border-top: solid 2px white;
  border-left: solid 2px white;
  transform: rotate(45deg);
}

.minmax__num {
  margin-right: 15px;
  margin-left: 15px;
  font-family: Arial;
  font-size: 25px;
  color: white;
  text-shadow: 1px 1px 1px rgba(0,0,0,.54);
}

.minmax__arrow_down {
  width: 10px;
  height: 10px;
  border-bottom: solid 2px white;
  border-left: solid 2px white;
  transform: rotate(-45deg);
}

.block__week {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 15px;
}

.weather__item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 10px;
}

.item__day {
  font-family: Arial;
  font-size: 22px;
  color: white;
  text-shadow: 1px 1px 1px rgba(0,0,0,.54);
}

.item__img_0, .item__img_1, .item__img_2, .item__img_3, .item__img_4, .item__img_37, .item__img_38, .item__img_39{
  margin-left: 30px;
  width: 75px;
  height: 75px;
  background: url("../img/1.png") no-repeat center center;
  background-size: cover;
}

.item__img_11, .item__img_12, .item__img_35, .item__img_45, .item__img_47{
  margin-left: 30px;
  width: 79px;
  height: 75px;
  background: url("../img/2.png") no-repeat center center;
  background-size: cover;
}

.item__img_29, .item__img_30, .item__img_40, .item__img_44{
  margin-left: 30px;
  width: 75px;
  height: 75px;
  background: url("../img/3.png") no-repeat center center;
  background-size: cover;
}

.item__img_31, .item__img_32, .item__img_33, .item__img_34, .item__img_36{
  margin-left: 30px;
  width: 75px;
  height: 75px;
  background: url("../img/4.png") no-repeat center center;
  background-size: cover;
}

.item__img_9, .item__img_19, .item__img_20, .item__img_21, .item__img_22, .item__img_23, .item__img_24, .item__img_25, .item__img_26, .item__img_27, .item__img_28{
  margin-left: 30px;
  width: 75px;
  height: 50px;
  background: url("../img/5.png") no-repeat center center;
  background-size: cover;
}

.item__img_5, .item__img_6, .item__img_7, .item__img_8, .item__img_10, .item__img_13, .item__img_14, .item__img_15, .item__img_16, .item__img_17, .item__img_18, .item__img_41, .item__img_42, .item__img_43, .item__img_46{
  margin-left: 30px;
  width: 79px;
  height: 75px;
  background: url("../img/6.png") no-repeat center center;
  background-size: cover;
}

.item__max {
  margin-left: 30px;
  font-family: Arial;
  font-size: 18px;
  color: white;
  text-shadow: 1px 1px 1px rgba(0,0,0,.54);
}

.item__min {
  margin-left: 15px;
  font-family: Arial;
  font-size: 18px;
  color: #a5d6ff;
  text-shadow: 1px 1px 1px rgba(0,0,0,.54);
}

.modal {
  display: none;
  position: absolute;
  top: 150px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  width: 310px;
  border: solid 2px #dcbc3f;
  border-radius: 5px;
  background-color: #f3f3f3;
  z-index: 10;
}

.items__link {
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: Arial;
  font-size: 45px;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0,0,0,.54);
  -webkit-transition: top 1s ease-out 0.5s;
  -moz-transition: top 1s ease-out 0.5s;
  -o-transition: top 1s ease-out 0.5s;
  transition: top 1s ease-out 0.5s;
  cursor: pointer;
}

.items__link:hover {
  background-color: black;
  color: white;
}

@media (max-width: 470px) {
  .dark {
    min-height: 600px;
  }

  .dark__bg {
    min-height: 600px;
  }

  .block__title {
    margin: 0 auto;
    width: 60%;
  }

  .block__weather {
    line-height: 50px;
  }

  .title__loc {
    margin-left: 0px;
    margin-bottom: 30px;
  }

  .now__dscr {
    margin-left: 0px;
  }

  .mob {
    display: none;
  }

  h1{
    margin-bottom: 20px;
  }

  .weather__item {
    margin-top: 20px;
  }
}