@charset "UTF-8";
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?fowrqz");
  src: url("../fonts/icomoon.eot?fowrqz#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?fowrqz") format("truetype"), url("../fonts/icomoon.woff?fowrqz") format("woff"), url("../fonts/icomoon.svg?fowrqz#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}
.icon-twitter2:before {
    content: "\e90f";
}
.icon-google:before {
    content: "\e902";
}
.icon-plus:before {
    content: "\e903";
}
.icon-minus:before {
    content: "\e904";
}
.icon-amazon:before {
    content: "\e905";
}
.icon-facebook:before {
    content: "\e900";
}
.icon-twitter:before {
    content: "\e901";
}
.icon-vimeo:before {
    content: "\e909";
}
.icon-flickr:before {
    content: "\e906";
}
.icon-dribbble:before {
    content: "\e907";
}
.icon-behance:before {
    content: "\e908";
}
.icon-github:before {
    content: "\e90a";
}
.icon-yahoo:before {
    content: "\e90e";
}
.icon-skype:before {
    content: "\e90b";
}
.icon-linkedin2:before {
    content: "\e90c";
}
.icon-pinterest:before {
    content: "\e90d";
}
.icon-tumblr:before {
    content: "\e910";
}
.icon-styling {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  font-size: 22px;
  padding: 10px;
}
.contact-icons .icon-styling{
  font-size: 12pt;
  padding: 6px;
  margin-right: 5px;
}
.contact-icons {
  margin-top: 29px;
}
body {
  margin: 0;
  color: #fff;
  font: 14px/20px 'Oxygen', Arial, Helvetica, sans-serif;
  background: #e3e3e3;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: none;
}
img {
  border: 0;
  vertical-align: top;
  -ms-interpolation-mode: bicubic;
}
a {
  background-color: transparent;
  text-decoration: underline;
  color: #eaecee;
}
a:hover {
  text-decoration: none;
}
input, textarea, select {
  font:  100% 'Oxygen', Arial, Helvetica, sans-serif;
  vertical-align: middle;
  -webkit-border-radius: 15px;
  resize:none;}
form, fieldset {
  margin: 0;
  padding: 0;
  border-style: none;
}
button,
input[type=cancel],
input[type=reset],
input[type=submit]:hover {
  cursor: pointer;
}
input[type=submit],
input[type=text],
input[type=password],
input[type=file],
textarea {
  -webkit-appearance: none;
}
textarea,
input[type=submit],
input[type=text],
input[type=email] {
  max-width: 320px;
  -webkit-border-radius: 15px;
}
input[type=image] {
  padding: 0;
  border: none;
}
button::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner {
  padding: 0 !important;
  border: 0 none !important;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
form :-moz-placeholder {
  color: white;
}
form ::-moz-placeholder {
  color: white;
  opacity: 1;
}
form :-ms-input-placeholder {
  color: white;
}
form ::-webkit-input-placeholder {
  color: white;
}
h1 {
  font-size: 2em;
  margin:  0;
  font-family: 'Coustard',sans-serif;
}
h2 {
  font-size: 22pt;
  margin: 0;
  font-weight: bold;
}
h3 {
  font-size: 1.17em;
  margin:  0;
}
h4 {
  font-size: 1em;
  margin:  0;
}
h5 {
  font-size: 0.83em;
  margin: 0;
}
h6 {
  font-size: 0.75em;
  margin:  0;
}
mark {
  background: none;
}
q {
  quotes: none;
}
q:before,
q:after {
  content: '';
  content: none;
}
p, dl, menu, ol, ul {
  margin: 1em 0;
}
dd {
  margin: 0 0 0 40px;
}
menu, ol, ul {
  padding: 0 0 0 40px;
}
nav ul, nav ol {
  list-style: none;
  list-style-image: none;
}
.wrapper {
  overflow: hidden;
}
.container {
  max-width: 1068px;
  margin: 0 auto;
}
.title,
.subtitle {
  margin: 0;
  padding: 0;
}

.title {
  overflow: hidden;
  text-align: center;
  padding: 0 0 22px;
}

.title h1 {
  margin: 0;
  position: relative;
  display: inline-block;
}
.title h1:after,
.title h1:before {
  left: 100%;
  width: 9999px;
  border: double rgba(255, 255, 255, 0.4);
  border-width: 11px 0 0;
  content: '';
  position: absolute;
  top: 50%;
  height: 11px;
  margin: -4px 17px 0;
}
.title h1:before {
  left: auto;
  right: 100%;
}
.subtitle {
  display: inline-block;
  border-radius: 20px;
  background: rgba(0, 0, 0, .26);
  padding: 11px 29px 10px;
  font: 22px/25px Coustard, Georgia, Times, serif;
  text-shadow: 0 1px rgba(0, 0, 0, .3);
  margin: 0 0 65px;
}
.paragraph {
  text-align: left;
  overflow: hidden;
  position: relative;
  margin-bottom: 8px;
}
.paragraph h2:after,
.paragraph h3:after {
  width: 9999px;
  background: rgba(255, 255, 255, 0.2);
  content: '';
  position: absolute;
  top: 50%;
  height: 1px;
  margin: 4px 17px 0 29px;
}
.col-xs-12 h2, .col-xs-12 p {
  text-align: left;
}
.main-nav {
  max-width: 941px;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.5);
  border: none;
  padding: 6px 17px 19px 5px;
}
.nav-custom ul{
  font-size: 16px;
  line-height: 19px;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 4px;
}
.nav-custom li{    margin-right: -1px;}
.navbar-inverse .navbar-nav>li>a {color:white}
.nav-custom a {
  color: white;
  text-decoration: none;
  overflow: hidden;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  overflow: hidden;
}
.nav>li>a {padding: 15px 14px;}
.home {
  padding: 0;
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
  background: #2f87cb;
}
.home .container{
  max-width: 1230px;
}
@media (min-width: 1200px){.container{width: 1230px;}}

.carousel-control.left, .carousel-control.right{ 
  background: none !important; 
}
.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
    margin: 0 auto;
  }
  .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev {top: 39%}
  .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {right: 24%;}
  .carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {left: 24%;}
  .btn-prev {
  border-radius: 50%;
  padding: 10px;
  background: rgba(0,0,0,.26);
}
.our-skills {
  background: #cb542f;
  text-align: center;
  padding-top: 90px;
  border-bottom: 1px solid #fff;
  padding-bottom: 40px;
}
.knob-section{
  margin-bottom: 40px;
}
.knob-holder {
  position: relative;
  border: 5px solid #fff;
  border-radius: 50%;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.32), 0 0 3px rgba(0, 0, 0, 0.32) inset;
  margin: 0 auto;
  padding: 6px;
  display: inline-block;
  text-align: center;
}
.knob-holder span {
  position: absolute;
  top: 50%;
  margin: -14px 0;
  left: 10px;
  right: 10px;
  font-size: 12.5pt;
}
blockquote {
  border: none;
  text-align: left;
  position: relative;
  padding: 10px 11px 10px 28px;
}

blockquote:before {
  color: rgba(255, 255, 255, 0.4);
  content: '“';
  font-size: 72px;
  line-height: 72px;
  position: absolute;
  top: -6px;
  left: -3px;
}

cite {
  text-align: right;
  display: block;
  font-style: normal;
}
.staff {
  background: #72af3c;
  text-align: center;
  padding: 20px;
  border-bottom: 1px solid #fff;
}
.staff-holder {
  margin-bottom: 20px;
}
.name-staff{
  overflow: hidden;
  text-align: center;
  padding: 0 0 26px;
}
.name-staff h2{
  display: inline-block;
  position: relative;
  margin: 0;
  vertical-align: top;
  font-size: 22px;
}
.name-staff h2:after,
.name-staff h2:before {
  left: 100%;
  width: 9999px;
  border-width: 11px 0 0;
  border: 0;
  content: '';
  position: absolute;
  top: 50%;
  height: 2px;
  background: rgba(255,255,255,.4);
  margin: 1px 13px 0;
}
.name-staff h2:before{
  left: auto;
  right: 100%;
}
.staff-styling {
  border-radius: 50%;
  border: 9px #fff solid;
  margin-bottom: 29px;
}
.text-holder-staff p,
.text-holder-staff h3 {
  margin: 0;
}
.text-holder-staff h3{
  margin-bottom: 9px;
}
.text-holder-staff p:last-child{
  margin-bottom: 10px;
}
.our-works {
  background: #cc9031;
  text-align: center;
  padding: 20px;
  border-bottom: 1px solid #fff;
}
.our-works .subtitle {
  margin-bottom: 17px;
}

.breadcrumb-styling {
  background: transparent;
  display: block;
  padding: 7px 0 8px;
  font: bold 16pt Oxygen, Arial, Helvetica, sans-serif;
  text-shadow: 0 1px rgba(0, 0, 0, .2);
  margin: 27px;
  margin-bottom: 45px;
  margin-top: 37px;
}
.breadcrumb-styling a {
  text-decoration: none;
  padding: 6px 9px;
}
.breadcrumb-styling a:hover,
.breadcrumb-styling .active {
  text-decoration: underline;
  color: #fff;
}
.img-works {
  margin-bottom: 23px;
}
.blog {
  background: #37a3c7;
  text-align: center;
}
.blog p {
  margin: 0 0 25px;
  font-size: 11pt;
}
.sidebar {
  text-align: left;
  padding: 7px;
}
.sidebar a {
  text-decoration: none;
}
.form-control {
  max-width: 411px;
  background: rgba(255, 255, 255, 0.4);
  border: none;
  border-radius: 30px;
}
.form-control::-webkit-input-placeholder {
  color: white;
  padding-top: 3px;
}
.shortcodes {
  text-align: center;
  background: #45b591;
  padding-top: 83px;
  padding-bottom: 48px;
  border: 1px solid #fff;
}
.shortcodes .paragraph {
  margin-bottom: 19px;
}
.shortcodes ul {
	padding-left: 22px;
}
.shortcodes p {
  font-size: 10pt;
  margin: 0;
  margin-bottom: 35px;
}
.shortcodes .nav>li>a {padding: 10px 28px;}
.text-holder-shortcodes {
  text-align: left;
  margin-bottom: -5px;
}
.text-elements {
  margin-bottom: 29px;
}
.element-ul {
  text-align: left;
}
.sliding-boxes {
  margin-bottom: 42px;
}
.sliding-boxes .paragraph{
  margin-bottom: 26px;
}
.panel-group .panel+.panel,
.panel,
.panel-heading {
  text-align: left;
  background: transparent;
  border: none;
  border-radius: 0px;
  margin: 0;
  padding: 0;
}

.panel-default>.panel-heading {background: transparent;}
.panel, .panel-group .panel-heading+.panel-collapse>.panel-body{
  border: none;
  box-shadow: none;
}
.panel-title {
  color: white;
  position: relative;
}
.panel-title a {
  text-decoration: none;
  padding-left: 31px;
  font-size: 18px;
}
.panel-heading {
  padding: 20px 0 20px 0;
  position: relative;
}
.panel-title .tabs-icons.collapsed:before {
  content: "\e903";
  position: absolute;
  font-size: 16px;
  font-family: 'icomoon';
  top: 10%;
  left: 0%;
  color: white;
}
.panel-title .tabs-icons:before {
  content: "\e904";
  position: absolute;
  font-size: 16px;
  font-family: 'icomoon';
  top: 10%;
  left: 0%;
  color: white;
}
.panel-default>.panel-heading {
  border-bottom: 1px solid #6ac4a7;
}
.panel-body p {
  color: white;
}
.ico-accordion-styling {
  padding: 5px;
}
.tabs{
  text-align: left;
  border-left: 3px solid rgba(255,255,255, 0.4);
  padding: 5px 26px;
}
.nav-tabs {
  border: none;
}
.tabs-custom{
  display: inline-block;
  margin-bottom: 14px;
      margin-top: 7px;
}
.tabs-custom a {
  display: block;
  background: rgba(0,0,0,.26);
  text-decoration: none;
  border-radius: 19px;
  padding: 10px 28px;
}
.tabs-custom .active,
.tabs-custom a:hover{
  background: rgba(0,0,0,.55);
  border-radius: 19px;
}
.tabs-custom li {
  display: inline-block;
}
.tab-pane p {
  text-align: left;
  color: white;
}
.btn-xs {
  font-size: 18pt;
}
.btn-sm{
  font-size: 24pt;
}
.btn-lg {
  font-size: 32pt;
}
.info-boxes .paragraph {
  margin-bottom: 27px;
}
.info-holder{
  text-align: left;
  background: rgba(255,255,255, 0.1);
  padding: 11px 11px 47px 20px;
  border-left: 3px solid rgba(255,255,255, 0.4);
  margin-bottom: 8px;
}
.info-holder p {
  font-size: 10pt;
  margin: 0;
}
.info-holder h3{
  margin-bottom: 10px;
}
.btn-holder{
  margin-top: 10px;
  text-align: left;
}
.btn {
  background: rgba(0,0,0,.25);
  border-radius: 19px;
  display: inline-block;
  vertical-align: top;
  font-size: 18px;
  line-height: 21px;
  text-decoration: none;
  padding: 9px 22px 10px;
  margin: 0 0 15px 9px;
}
.btn-sm{
  background: rgba(0,0,0,.26);
  font-size: 24px;
  line-height: 27px;
  border-radius: 30px;
  padding: 16px 27px 18px;
}
.btn-lg{
  background: rgba(0,0,0,.26);
  border-radius: 41px;
  padding: 22px 36px 24px;
  font-size: 32px;
  line-height: 35px;
}
.boxes-holder .paragraph{
  margin-bottom: 27px;
}
.boxes-holder .info-holder{
  padding: 22px 0px 27px;
  margin-bottom: 20px;
}
.info-boxes {
  margin-bottom: 14px;
}
.info-holder .star,
.info-holder .remove,
.info-holder .sign,
.info-holder .ok{
  position: relative;
  padding-left: 87px;
}
.info-holder .star:after,
.info-holder .remove:after,
.info-holder .sign:after,
.info-holder .ok:after{
  position: absolute;
  font-family: 'Glyphicons Halflings';
  top: 17px;
  left: 27px;
  font-size: 26pt;
  opacity: 0.7;
}

.info-holder .ok:after {
  content: "\e013";
}
.info-holder .remove:after {
  content: "\e014";
}
.info-holder .sign:after {
  content: "\e107";
}
.info-holder .star:after {
  content: "\e006";
}

.contact {
  background: #c6a739;
  text-align: center;
  padding-top: 96px;
  padding-bottom: 54px;
  border: 1px solid #fff;
}

#map {
  width: auto;
  height: 352px;
  margin: 0 auto;
  border: 5px solid #937c2a;
  border-radius: 5px;
  margin-bottom: 20px;
}
.form-container .paragraph {
  margin-top: -4px;
}
.btn-custom {
  padding: 12px 28px;
}
.btn-custom:hover,
.btn-custom:focus{
  background: #685618;
}
.nav>li>a:focus, .nav>li>a:hover {
  text-decoration: none;
  background: rgba(0,0,0,.55);
  color: white;
}
#Name, #Email {
  padding: 14px 25px 4px;
  margin-bottom: 27px;
}
textarea.form-control {
  height: 175px;
}
.btn-info.active.focus, .btn-info.active:focus, .btn-info.active:hover, .btn-info:active.focus, .btn-info:active:focus, .btn-info:active:hover, .open>.dropdown-toggle.btn-info.focus, .open>.dropdown-toggle.btn-info:focus, .open>.dropdown-toggle.btn-info:hover {
  color: #fff;
  background-color: #715e1b;
  border-color: #715e1b;
}
.form-container .btn {
  float: right;
  background: rgba(0,0,0,.25);
  border: 0;
  border-radius: 19px;
  color: #fff;
  width: 112px;
  vertical-align: middle;
  height: 41px;
  font-size: 18px;
  line-height: 41px;
  text-shadow: 0 1px rgba(0,0,0,.1);
  -webkit-transition: all 1s linear;
  -moz-transition: all 1s linear;
  -o-transition: all 1s linear;
  transition: all 1s linear;
  padding: 0 0 3px;
  margin-top: 8px;
  margin-right: -15px;
}
.contact-info .paragraph{    margin-bottom: 21px;}
.social-network .paragraph {
  margin-bottom: 29px;
}
.social-links {
  list-style: none;
  margin: 13px 0 0 -14px;
  padding: 0 36px 0 0;
  max-width: 421px;
  text-align: left;
}
.social-links li {
  width: 42px;
  height: 42px;
  display: inline-block;
  margin: 0 -4px 9px 14px;
  vertical-align: top;
  border-radius: 50%;
  padding: 5px;
}
.social-links a {
  text-decoration: none;
}
.form-holder{
  max-width: 400px;
}
.footer {
  background: white ;
  color: #666;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  padding: 50px 0px;
  overflow: hidden;
}
.footer ul {
  text-transform: uppercase;
}
.footer li{
  display: inline-block;
  margin-right: 24px;
}
.footer a {
  color: #666666;
  text-decoration: none;
}
.footer .title nav{
  display: inline-block;
  position: relative;
}
.footer .title nav:before,
.footer .title nav:after{
  left:100%;
  width:9999px;
  background: #e2e2e2;
  content:'';
  position:absolute;
  top:50%;
  height:1px;
  margin:-4px 17px 0;
}
.footer .title .nav:before{
  left:auto;
  right: 100%;
}
.footer .nav{
  margin-bottom: 18px;
}
@media only screen and (max-width: 768px) {

  .nav-custom{
    margin-top: 56px;
    text-align: center;
  }
  .blog,
  .staff,
  .home,
  .our-skills,
  .shortcodes,
  .contact {
    padding-top: 20px;
  }
}
@media only screen and (min-width: 768px) {
  .nav-custom{
    text-align: center;
  }
  .title h1 {
    font-size: 54pt;
  }
  .subtitle {
    font-size: 17pt;
  }
  .blog{
    padding: 96px 0px 5px 0px;
    border: 1px solid #fff;
  }
  .blog .title {
    margin-bottom: 5px;
  }
  .media>.pull-left {
    padding-right: 54px;
  }
  .media, .media-body {
    margin-bottom: 41px;
  }
  .sidebar .h2{
    font-size: 18pt;
  }

  .social-network{
    margin-top: 5px;
  }
  .form-container .paragraph{
    margin-bottom: 25px;
  }
  .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev {width: initial;height: initial;}
}
  @media only screen and (min-width: 992px) { 
  .breadcrumb-styling a:hover,
  .breadcrumb-styling .active {
    border-top: 3px solid #fff;
    border-bottom: 3px solid #fff;
    text-decoration: none;
  }
.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
    height: 793px;
  }
  .subtitle{
    margin-bottom: 74px;
  }
  .quotes p{
    font-size: 13pt;
    line-height: 1.43;
  }
  .staff{
    padding: 76px 0px 92px 0;
  }
  h3{
    font-size: 17pt;
  }
  .our-works {
    padding: 76px 0 8px 0;
  }
  .our-works h1{
    font-size: 54pt;
    margin-bottom: 25px;
  }
  .blog .subtitle {
    margin-bottom: 56px;
  }
  .blog h2 {
    font-size: 21pt;
  }
  .blog .sidebar h2{
    font-size: 16pt;
  }
  .blog .sidebar .paragraph {
    margin-bottom: 23px ;
  }
  .search-holder {
    margin-bottom: 40px;
  }
  .sidebar ul {
    padding:0;
    list-style-type: disc;
    margin: 0;
    list-style-position: inside;
  }
  .sidebar li{
    margin-bottom: 5px;
  }
  .sidebar a {
    font-size: 10pt;
  }
  .news{
    margin-bottom: 24px;
  }
  .contact-info{
    margin-top: -48px;
  }
}
